<strong> Olá, {{deliverymanName}}</strong>
<p>Sua entrega foi cancelada confira os detalhes abaixo:</p>
<p>
        <strong>{{description}}</strong> <br/>
    Sentimos informar, mas a entrega do produto  <strong>{{product}}  </strong> no endereço: {{street}} nº{{number}} - {{city}}- {{state}} <strong></strong>teve de ser cancelada.
 <br/>

</p>
