<strong> Olá, {{deliverymanName}}</strong>
<p>Você tem uma nova entrega disponível para retirada.</p>
<p>
         Produto:   <strong>{{product}} </strong> <br/>
    <strong>Dados do destinatário:</strong>
    <p>Estado: {{state}}</p>
        <p>Cidade: {{city}}</p>
    <p>Rua: {{street}} nº {{number}} - {{complement}}</p>
</p>
